body{
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
    
}
.calculator{
    background-color: gray;
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
}

.display{
    display: flex;
    justify-content: center;
    background-color: white;
    width: 100vh;
    height: 80px;
}